@media(max-width:900px){
    .label-hamburguer .menu-hamburguer{
        display: flex;
    }

    nav .menu{
        display: none;
    }

    .header input:checked ~.label-hamburguer .hamburguer{
        transform:rotate(-45deg);
    }

    .header input:checked ~ .label-hamburguer .menu-hamburguer::before{
        transform:rotate(45deg) translate(10px,10px); 
    }

    .header input:checked ~ .label-hamburguer .menu-hamburguer::after{
        transform:rotate(45deg) translate(-8.5px,-8.5px);
    }

    nav{
        position: relative;
    }

    .header input:checked ~ ul.menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background-color: white;
        z-index: 1;
        right: -40px;
        padding-block:1rem;
    }

    .menu li{
        padding:1rem 1.2rem;
    }
}

@media(max-width:768px){
    .projetos{
        grid-template-columns: repeat(2,50vw);
        grid-template-rows: repeat(2,50vw);
        grid-template-areas:
        "projeto1 projeto2"
        "projeto3 projeto4";
    }
}

@media(max-width:491px){
    .painel .chamada-lemons{
        text-align: center;
        font-size: 3rem;
    }

    .painel{
        height: 60vh;
    }

    .sobre{
        grid-template-rows:repeat(4,1fr);
        grid-template-columns: 1fr;
        grid-template-areas:
        "descricao1"
        "imagem1"
        "imagem2"
        "descricao2";
    }

    .sobre .descricao{
        align-items: center;
        text-align: center;
    }

    .servicos{
        grid-template-rows:repeat(2,1fr);
        grid-template-columns: 1fr;
        grid-template-areas:
        "seo"
        "landing-pages";
    }

    .projetos{
        grid-template-rows:repeat(4,100vw);
        grid-template-columns: 1fr;
        grid-template-areas:
        "projeto1"
        "projeto2"
        "projeto3"
        "projeto4";
    }
}