@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html{
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
}

.header{
    display:flex;
    padding:2.2rem 4rem;
    justify-content: space-between;
    align-items: center;
}

.nome-agencia h2{
    transition:color .3s ease-in-out;
    font-size: 2.5rem;
}

.nome-agencia:hover h2{
    color:#FF7F50;
}


.menu{
    display: flex;
    align-items: center;
    gap:2rem;
}

.menu li .secao{
    font-size: 2rem;
    font-weight: 700;
    padding:1rem 3rem;
    border-radius:30px;
    transition: .3s ease-in-out;
}

.menu li .secao:hover{
    background-color: #FF7F50;
    color:white;
}

.header input{
    display:none;
}

.menu-hamburguer{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40px;
    height: 40px;
}

.hamburguer{
    background-color: black;
    width: 80%;
    height: 2px;
    transition: transform 0.3s ease-in-out;
}

.menu-hamburguer::before, .menu-hamburguer::after{
    content:"";
    background-color: black;
    width: 80%;
    height: 2px;
    transition: transform 0.3s ease-in-out;
}

.painel{
    display:flex;
    position:relative;
    width: 100vw;
    height: 90vh;
    background: url(../images/lemons.jpg) no-repeat center/cover;
    justify-content: center;
    align-items: center;
}

.painel::after{
    content: '';
    background:url(../images/seta_preta.png) no-repeat bottom center;
    width:100%;
    height: 90%;
    position: absolute;
    animation: setinha 0.8s infinite alternate ease-in-out;
}

@keyframes setinha{
    0% {transform: translateY(0); opacity: 0.4;}
    100% {transform: translateY(2rem); opacity: 0.8;}
}

.painel .chamada-lemons{
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
}

.sobre{
    display:grid;
    grid-template-rows:repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "descricao1 imagem1"
    "imagem2 descricao2";
}

.descricao1{
    grid-area:descricao1;
}

.imagem1{
    grid-area:imagem1;
}

.descricao2{
    grid-area:descricao2;
}

.imagem2{
    grid-area:imagem2;
}

.sobre .descricao{
    padding:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:2.5rem;
}

.descricao .titulo-descricao{
    font-size: 2.2rem;
}

.descricao .paragrafo{
    font-size: 1.8rem;
}

.descricao .saiba-mais{
    font-size: 1.6rem;
}

.descricao .saiba-mais:hover{
    font-weight: 700;
}

.sobre .imagem1{
    background:url(../images/bridge.jpg) center no-repeat;
}

.sobre .imagem2{
    background: url(../images/sky.jpg) center no-repeat;
}

.servicos{
    display:grid;
    grid-template-areas:
    "seo landing-pages";
}

.servicos .seo{
    grid-area:seo;
    background-color: #8A2BE2;
}

.servicos .landing-pages{
    grid-area:landing-pages;
    background-color: #FFB6C1;
}

.servicos .seo, .servicos .landing-pages{
    padding: 7rem 2rem;
}

.servicos .servicos-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:2.8rem;
}

.servicos .imagem-servicos{
    max-width: 100%;
}

.servicos .titulo-servicos{
    font-size: 2.1rem;
}

.servicos .texto-servicos{
    font-size: 2rem;
    max-width: 40rem;
}

.projetos{
    display: grid;
    grid-template-columns: repeat(4,25vw);
    grid-template-rows: 25vw;
    grid-template-areas:
    "projeto1 projeto2 projeto3 projeto4";
}

.projetos .projeto1{
    grid-area:projeto1;
    background: url(../images/tomatoes.jpg) center/cover no-repeat;
    width: 100%;
    height: 100%;
}

.projetos .projeto2{
    grid-area: projeto2;
    background: url(../images/landscape.jpg) center/cover no-repeat;
    width: 100%;
    height: 100%;
}

.projetos .projeto3{
    grid-area: projeto3;
    background: url(../images/plants.jpg) center/cover no-repeat;
    width: 100%;
    height: 100%;
}

.projetos .projeto4{
    grid-area: projeto4;
    background: url(../images/flowers.jpg) center/cover no-repeat;
    width: 100%;
    height: 100%;
}

.projetos a{
    display: flex;
}

.projetos a::before{
    content:'';
    background-color: white;
    width: 100%;
    height: 100%;
    opacity:0;
    transition: opacity 0.3s ease-in-out;
}

.projetos a:hover::before{
    opacity:0.2;
}

.rodape{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:5rem;
    background-color: #90EE90;
    padding:8rem 0;
}

.rodape .titulo-rodape{
    font-size: 2.5rem;
    margin-block:1.5rem;
}

.rodape .secoes{
    display: flex;
    gap:4rem;
    font-size:1.6rem;
    font-weight: 500;
}

.rodape .redes-sociais{
    display: flex;
    font-size: 2rem;
    gap:4.5rem;
}

.rodape .secoes a, .rodape .redes-sociais a{
    transition:color 0.3s ease-in-out;
}

.rodape .secoes a:hover, .rodape .redes-sociais a:hover{
    color:white;
}