@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html{
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
}

.header{
    display:flex;
    padding:2.2rem 4rem;
    justify-content: space-between;
    align-items: center;
}

.nome-agencia:hover{
    color:#FF7F50;
    transition:color .3s ease-in-out;
}


.nome-agencia h2{
    font-size: 2.5rem;
}

.menu{
    display: flex;
    align-items: center;
    gap:2rem;
}

.menu li .secao{
    font-size: 2rem;
    font-weight: 700;
    padding:1rem 3rem;
    margin-left:1rem;
    border-radius:30px;
}

.menu li .secao:hover{
    background-color: #FF7F50;
    color:white;
    transition: .3s ease-in-out;
}



