@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html{
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
}

.header{
    display:flex;
    padding:2.2rem 4rem;
    justify-content: space-between;
    align-items: center;
}

.nome-agencia:hover{
    color:#FF7F50;
    transition:color .3s ease-in-out;
}


.nome-agencia h2{
    font-size: 2.5rem;
}

.menu{
    display: flex;
    align-items: center;
    gap:2rem;
}

.menu li .secao{
    font-size: 2rem;
    font-weight: 700;
    padding:1rem 3rem;
    margin-left:1rem;
    border-radius:30px;
}

.menu li .secao:hover{
    background-color: #FF7F50;
    color:white;
    transition: .3s ease-in-out;
}

.painel{
    display:flex;
    position:relative;
    width: 100vw;
    height: 90vh;
    background: url(../images/lemons.jpg) no-repeat center/cover;
    justify-content: center;
    align-items: center;
}

.painel::after{
    content: '';
    background:url(../images/seta_preta.png) no-repeat bottom center;
    width:100%;
    height: 100%;
    position: absolute;
    margin-bottom:7rem;
}

.painel .chamada-lemons{
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
}

.sobre{
    display:grid;
    grid-template-rows:repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    grid-template-areas:
    "descricao1 imagem1"
    "imagem2 descricao2";
}

.descricao1{
    grid-area:descricao1;
}

.imagem1{
    grid-area:imagem1;
}

.descricao2{
    grid-area:descricao2;
}

.imagem2{
    grid-area:imagem2;
}

.sobre .descricao{
    padding:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:2.5rem;
}

.descricao .titulo-descricao{
    font-size: 2.2rem;
}

.descricao .paragrafo{
    font-size: 1.8rem;
}

.descricao .saiba-mais{
    font-size: 1.6rem;
}

.descricao .saiba-mais:hover{
    font-weight: 700;
}

.sobre .imagem1{
    background:url(../images/bridge.jpg) center no-repeat;
}

.sobre .imagem2{
    background: url(../images/sky.jpg) center no-repeat;
}